BLACKBOARD_USERNAME=username@example.edu
BLACKBOARD_PASSWORD=password123!
BLACKBOARD_TOTP_KEY=JBSWY3DPEHPK3PXP
BLACKBOARD_URL_BASE=https://blackboard.example.edu
BLACKBOARD_LOGIN_URL=https://blackboard.example.edu/auth-saml/saml/
GITHUB_GIST_ACCESS_TOKEN=string
GITHUB_GIST_ID=string
